
@import "../node_modules/weather-icons/css/weather-icons.css";

.warning-list {
    max-height: 400px;
    overflow: scroll;
    padding-right: 0px;
}

.warning-row {
    height: 50px;
}

.warning-row div {
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.warning-row a {
    font-size: 1.0rem;
}
.warning-triangle {
    float: left;
    height: 50px;
    width: 50px;
    background-image: url("../assets/images/warning.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.triangle-flood1 {
    float: left;
    height: 50px;
    width: 50px;
    background-image: url("../assets/images/flood_1.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.triangle-flood2 {
    float: left;
    height: 50px;
    width: 50px;
    background-image: url("../assets/images/flood_2.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.triangle-flood3 {
    float: left;
    height: 50px;
    width: 50px;
    background-image: url("../assets/images/flood_3.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.triangle-snow {
    float: left;
    height: 50px;
    width: 50px;
    background-image: url("../assets/images/snow.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.triangle-ice {
    float: left;
    height: 50px;
    width: 50px;
    background-image: url("../assets/images/ice.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}



.warning-triangle i {
    padding-left: 0.9rem;
    padding-top: 1.25rem;
    font-size: 1.4rem;
    color: black;
}

.warning-stuff {
    margin-left: 60px;
}

.wp {
    padding-top: 10px;
    padding-bottom: 10px;
}

.warning-details {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.warning-map {
    height: 400px;
    padding-left: 0px;
}


.alert-info {
    background-color: #ffff8e;
}

.alert-warning {
    background-color: #fbb03b;
}

.alert-danger {
    background-color: #F96D6D;
}

.no-warnings {
    padding-left: 10px;
    padding-right: 10px;
}