@import "../node_modules/bootstrap.native/assets/css/bootstrap.min.css";
/*@import "../node_modules/bootstrap.native/assets/css/theme.css";*/
@import "../node_modules/weather-icons/css/weather-icons.css";


.warning-list {
    height: 400px;
    overflow: scroll;
    padding-right: 0px;
}

.warning-row {
    height: 50px;
}

.warning-row div {
    font-size: 1.15em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.warning-row a {
    font-size: 1.0em;
}
.warning-triangle {
    float: left;
    height: 50px;
    width: 50px;
    background-image: url("../assets/warning.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.triangle-flood1 {
    float: left;
    height: 50px;
    width: 50px;
    background-image: url("../assets/flood_1.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.triangle-flood2 {
    float: left;
    height: 50px;
    width: 50px;
    background-image: url("../assets/flood_2.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.triangle-flood3 {
    float: left;
    height: 50px;
    width: 50px;
    background-image: url("../assets/flood_3.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.triangle-snow {
    float: left;
    height: 50px;
    width: 50px;
    background-image: url("../assets/snow.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.triangle-ice {
    float: left;
    height: 50px;
    width: 50px;
    background-image: url("../assets/ice.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}



.warning-triangle i {
    padding-left: 0.70em;
    padding-top: 1.35em;
    font-size: 1.1em;
    color: black;
}

.warning-stuff {
    margin-left: 60px;
}

.wp {
    padding-top: 10px;
    padding-bottom: 10px;
}

.warning-details {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.warning-map {
    height: 400px;
    padding-left: 0px;
}